@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    color: white;
}

a {
    float: left;
    font-weight: 400;
    font-size: 20px;
    margin-left: 15px;
}

h1 {
    text-align: center;
}

body {
    background: url(https://www.xtrafondos.com/wallpapers/blue-vortex-3d-3594.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.calificacion {
    margin: auto;
    padding: 20px;
    width: 500px;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    display: inline-block;
    width: 100px;
    text-align: left;
}

input[type="text"],
input[type="number"] {
    background: rgba(0, 0, 0, 0.5);
    width: 250px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 16px;
}

button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#resultado {
    font-size: 16px;
    font-weight: bold;
}