@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
}

.highlight {
    background-color: yellow;
    color: white;
}

a {
    float: left;
    font-weight: 400;
    font-size: 20px;
    margin-left: 15px;
}

body {
    background: url(https://www.xtrafondos.com/wallpapers/blue-vortex-3d-3594.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

input {
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.5);
}

button {
    font-size: 16px;
    font-weight: bold;
    background-color: red;
    color: white;
    border: 1px solid white;
    border-radius: 1px;
}

.result {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.result .par {
    color: blue;
}

.result .impar {
    color: green;
}

.result .noentero {
    color: red;
}